<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Ubuntu:wght@700&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="header">
    <div th:replace="../static/fragments/header :: header"></div>
</div>

<main>
    <form class="table" action="#"
          id="add"
          th:action="@{/inventory}"
          th:object="${cell}"
          method="post">

        <table class="block">
            <tr>
                <td></td>
                <td> Cell Type</td>
                <td> Cell Line</td>
                <td> Alias</td>
                <td> Passage</td>
                <td> Puro</td>
                <td> Note</td>
                <td> In stock</td>
                <td> Location</td>
            </tr>
            <tr>
                <td>
                    <button class="submitTableButton" type="submit">Add vial</button>
                </td>
                <td>
                    <select th:field="*{cellType}" name="cellType" id="cellType" required>
                        <option value="HESC">hESC</option>
                        <option value="HIPSC">hiPSC</option>
                        <option value="CM">CM</option>
                    </select>
                </td>

                <td>
                    <select th:field="*{cellLine}" name="cellLine" id="cellLine" required>
                        <option value="HuES9">HuES9</option>
                        <option value="XCL1">XCL1</option>
                        <option value="IMR90-4">IMR90-4</option>
                        <option value="DiGeorge iPS">DiGeorge iPS</option>
                        <option value="Schizo iPS">Schizo iPS</option>
                    </select>
                <td>

                    <input form="add"
                           type="text"
                           name="alias"
                           id="alias"
                           th:field="*{cellAlias}"
                           placeholder="Alias"
                    />

                </td>
                <td>
                    <input class="numberInput" form="add"
                           type="number"
                           name="passageNumber"
                           id="passageNumber"
                           min="1"
                           th:field="*{p1}"
                           placeholder="n/sum"
                           required
                    />/
                    <input class="numberInput" form="add"
                           type="number"
                           name="passageNumber2"
                           id="passageNumber2"
                           min="1"
                           placeholder="n/sum"
                           th:field="*{p2}"
                           required
                    />

                </td>
                <td><input form="add"
                           type="checkbox"
                           name="puro"
                           id="puro"
                           value="true"
                           th:checked="*{puroInMedia}"
                           th:value="true"
                /></td>

                <td><input class="textField"
                           form="add"
                           type="text"
                           name="note"
                           id="note"
                           th:field="*{vialNote}"
                           placeholder="Notes..."
                /></td>

                <td>DATE COMES HERE</td>
                <td>
                    <input class="numberInput" form="add"
                           type="number"
                           name="tank"
                           id="tank"
                           min="1"
                           max="7"
                           size="2"
                           placeholder="tank"
                           th:field="*{tank}"
                           required
                    />
                    <input class="numberInput" form="add"
                           type="number"
                           name="canister"
                           id="canister"
                           min="1"
                           max="6"
                           size="2"
                           placeholder="n/sum"
                           th:field="*{canister}"
                           required
                    />
                    <input class="numberInput" form="add"
                           type="number"
                           name="cane"
                           id="cane"
                           min="1"
                           max="20"
                           size="2"
                           placeholder="n/sum"
                           th:field="*{cane}"
                           required
                    />
                </td>
            </tr>

            <tr th:each="cell : ${inventory}">

                <td></td>

                <td th:text="${cell.cellType}"></td>

                <td th:text="${cell.cellLine}"></td>

                <td th:text="${cell.cellAlias}"></td>

                <td th:text="${cell.p2==0 ? '' : cell.p1 + '/' + cell.p2}"></td>

                <td th:text="${cell.puroInMedia? 'PURO' : ''}"></td>


                <td th:text="${cell.vialNote}"></td>


                <span th:switch="${cell.vialIsPresent}">
                                    <td th:case="true">

                                        <button class="submitTableButton" type="submit">Thaw vial</button> </td>

                                    <td th:case="false" th:text="'DATE COMES HERE'"></td>
                                </span>

                <td th:text="${cell.tank} + '/' + ${cell.canister} + '/' + ${cell.cane}"></td>
            </tr>

        </table>
    </form>
</main>
</body>
</html>
